*.aux
*.bbl
*.blg
*.dvi
*.log
*.lof
*.tmp
*.lot
*.toc
*.swp
notas-*.eps
question-*.eps
concluintes-*.eps
desistentes-*.eps
figura-ref-graficos.eps
*eps-converted-to.pdf
LGavaza.pdf
.DS_Store
*.abc
um.ps
um.eps
um.pdf
tres.ps
tres.eps
tres.pdf
